@import url(styles.css);
@import url(hero.css);
@import url(tienda.css);

 #galeria {
  background-color: #0e0e0e;
  max-width: 100%;
  margin: 0;
  padding: 10px;
  text-align: center;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 10px; 

     &

    h2{
        color: #f1d908;
    }
  }

  .galeria img {
    width: 350px; 
    height: auto; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease; 
  }
  .galeria img:hover {
    transform: scale(1.05); 
  }



@media (max-width: 768px) {
  #galeria {
    padding: 15px;

  }

  h2 {
    font-size: 1.5rem;
  }

  .imagen-responsiva {
    max-width: 90%;
  }

  .video-container {
    padding-bottom: 56.25%; 
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 1.2rem;
  }

  .imagen-responsiva {
    max-width: 100%;
  }
}