@import url(styles.css);
@import url(hero.css);
@import url(tienda.css);

.galeria {
  display: flex;
  justify-content: center;
  background-color: #0e0e0e;
  font-weight: bold; 
  justify-content: space-between;
  gap: 10px; 
  padding: 20px;
  margin: 15 0;
  min-width: 2px;
  
   & 
   h2 {
   color: yellow;
   text-align: center;
   }

   .galeriaimg{
    display: inline-block;
    flex-wrap: wrap;
     border: 1px solid #f1d908;
     border-radius: 10px;
     padding: 10px;
     box-shadow: 0 2px 5px rgba(246, 244, 241, 0.556);
   
  
   }
     .galeriavideo{
       width:max-content;
       background-color: black;
     
} 

@media(max-width:952px) {

   .galeria{
      display: contents;
        font-size: 1px;
        padding-left: 1%;
        background-color: #0e0e0e;
        height: inherit;
        width:max-content;
    }

   }
    .galeriaimg {
        font-size: 1px;
        padding-left: 1%;
        background-color: #0e0e0e;
        height: inherit;
        width: 100px;;
    }

    nav ul li a h1{
        font-size: 16px;
      
    }

      .galeriavideo {
       width: auto;
       background-color: #0e0e0e;

    }
  

@media(max-width:857px){


 .galeria {
        font-size: 0.25px;
        padding-left: 1%;
        object-fit: cover;
        max-width: 50%;
        max-height: 50%;
    }

    .galeriaimg {
        font-size: 1px;
        padding-left: 1%;
        background-color: #0e0e0e;
        object-fit:cover;;
        max-width: 50%;
        max-height: 50%;
    }
    }
    
    .galeriavideo {
    width: auto;
    background-color: #0e0e0e;

    }
  
   }

