*.registroa {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "lato", sans-serif;
  color: white;
  
  &

  h1{
color: white;
  }
}

.inputContainer {
  position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 17px;
}

.input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 2px solid #f5f508;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}

::placeholder {
  color: transparent;
}

.submitBtn {
  display: block;
  margin-left: auto;
  padding: 15px 30px;
  border: none;
  background-color: rgb(254, 246, 5);
  color: rgb(0, 0, 0);
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}

.submitBtn:hover {
  background-color: #fefefe;
}

.form {
  background-color: black;
  width: 400px;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.input:focus + .label {
  color:yellow;
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: rgb(248, 240, 30);
}

.title {
  font-size: 50px;
  margin-bottom: 50px;
}

.error input:not(.check,.boton),.error select{
     border: 1px solid #ff0000;
 } 
                
.error-text{
        color: #ff0000;
        font-size: 0.8rem;
        margin-top:0px;
        margin-bottom: 10px;
    }
              
