.inicio .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px; 
    padding: 20px 0;
}


.registroa {
    background-color: rgb(0, 0, 0);
    padding: 30px 25px;
    border-radius: 12px;
    box-shadow: 0 0 18px rgba(243, 247, 48, 0.1);
    width: 320px;
    box-sizing: border-box;
}

form h2 {
    text-align: center;
    color: #fafa04;
    margin-bottom: 25px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 6px;
    border: 1.5px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    transition: 0.3s;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #eeff00;
    box-shadow: 0 0 5px rgba(255, 217, 0, 0.2);
    outline: none;
}

input.boton {
    width: 100%;
    padding: 12px;
    background-color: #ffe600;
    color: rgb(10, 10, 10);
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

input.boton:hover {
    background-color: #b0b300;
}

a.ayuda {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #ff0000;
    text-decoration: none;
    font-size: 0.95rem;
}

a.ayuda:hover {
    text-decoration: underline;
}


.error-text {
    color: red;
    font-size: 0.85rem;
    margin-bottom: 10px;
    font-style: italic;
}


.error input {
    border-color: red !important;
    background-color: #ffe6e6;
}

@media (max-width: 1200px) {
    .bodyRegistrarse{
        .headerRegistrarse{
            padding:20px;
            .anclaLogo{
                font-size: 1rem;
            }
        }
        .main{
            .seccionRegistrarse{
                width: 95%;
                padding: 10px 10px;
                .tituloRegistrarse{
                    font-size: 2rem;
                }
               form{
                width: 100%;
                text-align: center;
               
                input:not(.check,.boton),select{
                    width: 80%;
                    height: 35px;
                    font-size: 1rem;
                }
                .terminos{
                    width: 80%;
                    margin:0 auto;
                    font-size: 0.7rem;
                }
                .boton{
                    margin-top: 20px;
                    margin-bottom: 20px;
                    width: 70%;
                    padding: 0.8rem 0.8rem;
                    font-size: 0.8rem;
                }
                .ayuda{
                    text-align: left;
                    font-size: 0.8rem;
                }
                 }
               }
               
            }
        }
    }
